@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
    background-color: #222831;
}

h1
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #47E4BB;
    line-height: 4rem;
    color: black;
}

.all_image
{
    display: grid;
    grid-template-columns: repeat(3,minmax(20%,1fr));
}

.img
{
    margin: 1.5rem;
}

img
{
    width: 100%;
    border: 2px solid #47E4BB;
}

p
{
    font-family: 'Poppins', sans-serif;
    background-color: #47E4BB;
    text-align: center;
    width: 50%;
    display: block;
    padding: 0.5rem;
    margin: auto;
}

footer
{
    display: flex;
    justify-content: space-around;
}

.thank_you
{
    font-weight: bold;
}
footer p
{
    padding: 2rem;
    width: 100%;
}

@media (max-width: 768px) and (min-width: 500px) {
	.all_image {
		grid-template-columns: repeat(2, minmax(200px, 1fr));
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 1.5rem;
	}
	.all_image {
		grid-template-columns: repeat(1, minmax(200px, 1fr));
	}
    footer
    {
        flex-direction: column;
    }
}